.home-newsletter-categories {
    margin-bottom: rem(35px);
    @include screen(sm, min) {
        display: flex;
        gap: 32px;

        &__newsletter {
            flex-basis: 65%;
            align-self: baseline;
        }
        &__categories {
            flex-basis: 35%;
        }
    }
    &__newsletter {
        @include screen(sm) {
            margin-bottom: rem(32px);
        }
    }

}