.home-tab-categories {
    margin-bottom: rem(35px);
    @include screen(sm, min) {
        display: flex;
        gap: 32px;

        .home-most-view-popular {
            flex-basis: 65%;
            align-self: baseline;
            margin-bottom: 0;
        }
        &__categories {
            flex-basis: 35%;
        }
    }
   

}