<div class="container">
    <div class="home-trending">
        <h2 class="home-trending__heading">
            Trending News
        </h2>
        <div class="home-trending__news">
            {% for news in trending_news %}
                {% include 'components/card-top-image.html' %}
            {% endfor %}
        </div>
        <div class="home-trending-button">
            <button class="home-trending-button__button">Load More</button>
            {% csrf_token %}
        </div>
    </div>
</div>

