<div class="container">
    <div class="home-trending">
        <h2 class="home-trending__heading">
            Trending News
        </h2>
        <div class="home-trending-news">
            <div class="home-trending-news__features">
                {% include 'components/card-top-image.html' with news=trending_news_features %}
            </div>
            <div class="home-trending-news__list">
                {% for news in trending_news_list %}
                    {% include 'components/card-list.html' %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

