{% extends 'main.html' %}
{% block content %}
    <div class="container">
        {% if messages %}
            <ul class="flash-messages">
                {% for message in messages %}
                <li{% if message.tags %} class="flash-messages__{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <div class="home-featured">
            <div class="home-featured__overlay">
                {% include 'components/card-overlay-image.html' with news=first_news %}
            </div>
            <div class="home-featured__list">
                {% for news in news_list %}
                    {% include 'components/card-list.html' %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% url 'load-more-trending-news' as ajax_url %}
    {{total_trending_news|json_script:"total-trending-news"}}
    {{ ajax_url|json_script:"ajax_url"}}
    {% include 'news/home/trending.html' with trending_news=trending_news %}
    {% include 'news/home/features.html' with features_news=features_news %}
{% endblock content %}
