{% extends 'main.html' %}
{% block content %}
    <div class="container">
        {% if messages %}
            <ul class="flash-messages">
                {% for message in messages %}
                <li{% if message.tags %} class="flash-messages__{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <div class="home-featured">
            <div class="home-featured__overlay">
                {% include 'components/card-overlay-image.html' with news=first_news %}
            </div>
            <div class="home-featured__list">
                {% for news in news_list %}
                    {% include 'components/card-list.html' %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% url 'load-more-trending-news' as ajax_url %}
    {{total_trending_news|json_script:"total-trending-news"}}
    {{ ajax_url|json_script:"ajax_url"}}
    {% include 'news/home/trending.html' with trending_news=trending_news %}
    {% include 'news/home/features.html' with features_news=features_news %}
    <div class="container">
        <div class="home-tab-categories">
            <div class="home-most-view-popular">
                <ul class="home-most-view-popular-tab-buttons">
                    <li class="home-most-view-popular-tab-buttons__button">Most View</li>
                    <li class="home-most-view-popular-tab-buttons__button">Popular</li>
                </ul>
                <div class="home-most-view-popular-tab-content">
                    <div id="home-most-view" class="home-most-view-popular-tab-content__pane home-most-view-popular-tab-content__pane--most-view">
                        {% for news in most_views %}
                            {% include 'components/card-list.html' with modifier='home-most-view-popular-tab-content__card' %}
                        {% endfor %}
                    </div>
                    <div id="home-popular" class="home-most-view-popular-tab-content__pane home-most-view-popular-tab-content__pane--popular">
                        {% for news in popular %}
                            {% include 'components/card-list.html' with modifier='home-most-view-popular-tab-content__card' %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% include 'components/news-categories.html' with modifier='home-tab-categories__categories' categoris=categories %}
        </div>
        <div class="home-newsletter">
            {% url 'subscribe-newsletter' as subscribe_newsletter_ajax_url %}
            {{ subscribe_newsletter_ajax_url|json_script:"subscribe_newsletter_ajax_url" }}
            {% include 'components/newsletter.html' with modifier='home-newsletter-categories__newsletter' %}
        </div>
    </div>
{% endblock content %}
