{% extends 'main.html' %}
{% block content %}


<div class="magazine">
    <h1 class="magazine__title">Download Our magazine</h1>
    <form class="magazine-form" method="POST">
        {% csrf_token %}
        <label class="magazine-form__label">
            <span class="magazine-form__text">Name</span>
            <input required type="text" class="magazine-form__input" name="name" placeholder="Enter Name">
        </label>
        <label class="magazine-form__label">
            <span class="magazine-form__text">Email</span>
            <input required type="email" class="magazine-form__input" name="email" placeholder="Enter Email">
        </label>
        <label class="magazine-form__label">
            <span class="magazine-form__text">Job Title</span>
            <input required type="text" class="magazine-form__input" name="job-title" placeholder="Job Title">
        </label>
        <label class="magazine-form__label">
            <span class="magazine-form__text">Magazine kind of Magazine do you want to download?</span>
            <select required class="magazine-form__select" name="magazine-type">
                <option value="" selected disabled>Select Magazine</option>
                <option value="Fashion Magazine">Fashion Magazine</option>
                <option value="Technology Magazine">Technology Magazine</option>
                <option value="Health Magazine">Health Magazine</option>
                <option value="Business Magazine">Business Magazine</option>
                <option value="Travel Magazine">Travel Magazine</option>
                <option value="Sports Magazine">Sports Magazine</option>
            </select>
        </label>
        <button type="submit" class="button magazine-form__submit magazine__button">Create Download Link</button>
    </form>
    <div class="magazine-download">
        <p class="magazine-download__msg">Your file is ready click button to download!</p>
        <p class="magazine-download__msg magazine-download__msg--thanks">Thank for download <span></span> . Stay with us!!</p>
        <a class="button magazine__button magazine-download__link magazine-download__link--home" href="{% url 'news-home' %}">Go to homepage</a>
        <a class="button magazine__button magazine-download__link magazine-download__link--fashon" data-magazine="Fashion Magazine" href="{{  '/static/src/images/magazine-fashion.pdf' }}">Download</a>
        <a class="button magazine__button magazine-download__link magazine-download__link--technology" data-magazine="Technology Magazine" href="{{  '/static/src/images/magazine-tech.pdf' }}">Download</a>
        <a class="button magazine__button magazine-download__link magazine-download__link--health" data-magazine="Health Magazine" href="{{  '/static/src/images/magazine-health.pdf' }}">Download</a>
        <a class="button magazine__button magazine-download__link magazine-download__link--business" data-magazine="Business Magazine" href="{{  '/static/src/images/magazine-business.pdf' }}">Download</a>
        <a class="button magazine__button magazine-download__link magazine-download__link--travel" data-magazine="Travel Magazine" href="{{  '/static/src/images/magazine-travel.pdf' }}">Download</a>
        <a class="button magazine__button magazine-download__link magazine-download__link--sports" data-magazine="Sports Magazine" href="{{  '/static/src/images/magazine-sports.pdf' }}">Download</a>
    </div>
</div>
    
    
    
{% endblock content %}
