{% extends 'main.html' %}
{% block content %}
    <div class="container">
        <div class="search">
            <h1 class="search__heading">Search Results</h1>
            {% if news_list %}
            <div class="search__results">
                {% for news in news_list %}
                    {% include 'components/card-top-image.html' %}
                {% endfor %}
            </div>
            {% else %}
             <h3 class="search__not-found">
                We’re sorry, but no results were found matching your search. Please try searching again.
            </h3>
            {% endif %}
           
        </div>
    </div>
{% endblock content %}
