{% extends 'main.html' %}
{% block content %}
    <div class="container">
        <div class="single">
            <div class="single__category">
                <span>Category&nbsp;/&nbsp;</span>
                <a href="{{ object.category.get_absolute_url }}" class="single__category">{{ object.category.name }}</a>
            </div>
            <h3 class="single__title">
                {{ object.title }}
            </h3>
            {% if object.features_image  %}
                <img src="{{ object.features_image.url }}" alt="{{ post.title }}" class="single__image">
            {% else %}
                <img src="/static/src/images/default.png" alt="{{ post.title }}" class="single__image">
            {% endif %}
            <div class="single__context">
                <div class="single__meta">
                    <p class="single__meta-author">{{ object.author|capfirst }}</p>
                    <p class="single__meta-date">{{ object.created_at|date:'F j, Y' }}</p>
                </div>
                {% include 'news/single/share-news.html' %}
            </div>
            <div class="single__content">
                {% autoescape off %}
                     {{ object.content }}
                {% endautoescape %}
            </div>
        </div>

        {% include 'news/single/related-news.html' with related_news=related_news %}
    </div>
{% endblock content %}