.footer {
    background-color: $news-grey-light;
    padding: em(15px) 0;

    &__inner {
        align-items: center;
        display: flex;
        justify-content: space-between;

        @include screen(sm) {
            flex-direction: column;
            align-items: flex-start;
            & > div:first-of-type {
                margin-bottom: rem(15px);
            }

        }
    }
    &__copyright {
        color: rgba($news-grey, $alpha: 0.6);
        line-height: rem(27px);
    }
    &-nav {
        &__item {
            display: inline-block;
            @include screen(xs) {
                display: block;
            }
        }
        &__link {
            color: $news-black;
            padding: 0 em(10px);
            @include screen(sm) {
                &:first-of-type {
                    padding-left: 0;
                }
            }
            @include screen(xs) {
                padding: em(10px) 0;
            }
        }
    }
}