.header {
    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-block: em(20px);
        @include screen(sm) {
            align-items: flex-start;
            flex-direction: column;
            gap: 20px;
        }
        &-nav {
            @include screen(sm) {
                display: none;
            }
        }
        &-menu {
            display: flex;
            gap: 2rem;
            
            &__link {
                color: $news-black;
                font-size: rem(14px);
                font-weight: 600;
                position: relative;

                &::after {
                    content: '';
                    position: absolute;
                    background-color: $news-grey;
                    width: 0;
                    height: 2px;
                    bottom: -4px;
                    left: 0;
                    transition: width 0.4s;
                }
                &:hover {
                    color: $news-grey-blue;
                   &::after {
                    width: 100%;
                   }
                }
            }
        }
    }
    &__form {
        flex-basis: 40%;
        @include screen(sm) {
            flex-basis: 100%;
            width: 100%;
        }
        &-input {
            color: $news-grey-blue;
            font-weight: 700;
            font-family: inherit;
            font-size: rem(16px);
            background-color: $news-blue-light;
            border: 1px solid $news-grey;
            padding: em(16px) em(30px);
            border-radius: 20px;
            width: 100%;
            @include screen(sm) {
                font-size: rem(14px);
            }
        }
    }
    &__brand {
        &-image {
            height: 50px;
            vertical-align: middle;
            margin-right: rem(12px);
        }
        span {
            font-size: rem(45px);
            color: $news-black;
            font-weight: 500;
            vertical-align: middle;
            @include screen(sm) {
                font-size: rem(35px);
            }
        }
    }

    &__primary {
        background-color: $news-black;
        color: $white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include screen(sm) {
            flex-direction: row-reverse;

            &-nav {
                transform: translateX(100%);
                position: fixed;
                background: $news-blue-dark;
                height: 100vh;
                right: 0;
                top: 0;
                transition: transform 0.4s;
                padding-top: em(75px);
                width: 300px;

                &--open {
                    transform: translateX(0);
                }
            }
        }
        &:has(.header__toggle--open) {
            flex-direction: row;
        }
        &-menu {
            display: flex;
            padding-left: em(10px);
            
            @include screen(sm) {
                flex-direction: column;
                padding-left: 0;
            }
            &__item {
                display: inline-block;
                position: relative;
                
                @include screen(sm, min) {
                    &::before {
                        content: '';
                        width: 100%;
                        height: 0; 
                        background-color: $news-blue-dark;
                        position: absolute;
                        inset: 0;
                        z-index: 0;
                        transition: height 0.4s;
                    }
                    &::after {
                        content: '';
                        width: 0;
                        height: 2px; 
                        background-color: $white;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        z-index: 0;
                        transition: width 0.4s;
                    }
                    &:hover {
                        &::before {
                            height: 98%;
                        }
                        &::after {
                            width: 100%;
                        }
                        & > ul {
                            opacity: 1;
                            visibility: visible;
                            transform: scaleY(1);
                        }
                    }

                    &:is(:nth-last-child(1)), &:is(:nth-last-child(2)) {
                        display: none;
                    }
                }

                &--dropdown {
                   & > a{
                        position: relative;
                        &::after {
                            content: '\2303';
                            position: absolute;
                            transition: transform 0.4s;
                            transform: rotate(-180deg);
                            right: 5px;

                        }
                    }
                }

                &--open {
                    & > ul {
                        height: auto;
                        opacity: 1;
                        visibility: visible;
                        transform: scaleY(1);
                        transition: height 0.4s, opacity 0.4s,  visibility 0.4s;
                    }
                    & > a::after {
                        transform: rotate(0);
                    }
                }
            }
            &__link {
                color: $white;
                font-size: rem(16px);
                line-height: rem(27px);     
                padding: em(20px);
                position: relative;
                z-index: 1;


                @include screen(sm) {
                    width: 100%;
                    font-weight: 600;
                    padding: em(12px) em(20px);
                    transition: background-color 0.4s;
                    border-bottom: 1px solid rgba($white, 0.20);
                    &:hover {
                        background-color: $white;
                        color: $news-blue-dark;
                    }
                }
            }
        }
        &-sub-menu {
            background-color: $news-grey-blue;
            display: block;
            box-shadow: 0 3px 3px 2px rgba($black, 0.15);
            opacity: 0;
            visibility: hidden;
            transform: scaleY(0);
            position: absolute;
            transform-origin: top;
            transition: all 0.4s;
            top: 100%;
            left: 0;
            z-index: 100;
            min-width: 230px;
            transition-timing-function: cubic-bezier(.25,.1,0,.45);

            &__link {
                display: block;
                border-bottom: 1px solid $news-black;
                color: $white;
                font-size: rem(14px);
                width: 100%;
                padding: em(15px) em(25px);
                @include screen(md, min) {
                    font-size: rem(16px);
                }

                &:hover {
                    background-color: $news-black;
                }
            }

            @include screen(sm) {
                position: static;
                height: 0;
                background-color: transparent;
                box-shadow: none;
                transition: height 0.4s, opacity 0.4s,  visibility 0.4s;
                &__item {
                    margin-left: rem(16px);
                }
                &__link {
                    display: block;
                    border-color: rgba($white, 0.20);
                    color: $white;
                    font-size: rem(15px);
                    font-weight: 500;
                    letter-spacing: 0.5px;
                   
                    &:hover {
                        background-color: $white;
                        color: $news-blue-dark;
                    }
                }
            }
        }    
    }
    &__toggle {
        width: 30px;
        height: 30px;
        border: none;
        margin-right: em(20px);
        display: none;
        @include screen(sm) {
            display: block;
        }
        &-bar {
            display: block;
            width: 100%;
            height: 2px;
            background-color: $white;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                width: 100%;
                height: 2px;
                display: block;
                background-color: $white;
                bottom: -10px;
                left: 0;
                transition: bottom 0.1s ease-in
            }
            &::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 2px;
                display: block;
                background-color: $white;
                bottom: 10px;
                left: 0;
                transition: bottom 0.1s ease-in
            }
        }

        &--open {
            position: fixed;
            top: 10px;
            right: 10px;
            z-index: 2;

            span {
            background-color: transparent;

            &::before {
                bottom: 0;
                transform: rotate(45deg);
            }
            &::after {
                bottom: 0;
                transform: rotate(-45deg);
            }
           }
            
        }
    }
    &__current-date {
        background-color: $news-grey-blue;
        padding: em(20px) em(40px);
        font-size: rem(16px);
        font-weight: 600;
        line-height: rem(27px);

        @include screen(sm) {
            font-size: rem(14px);
            padding-inline: em(20px);
        }
    }
}