.news-categories {
    background-color: $white;
    border-radius: $border-radius;
    padding: em(24px) em(20px);
    &__heading {
        font-size: rem(20px);
        font-weight: 500;
        margin-bottom: rem(30px);
    }
    &-items {
        column-count: 2;
        &__item {
            padding-bottom: em(16px);
        }
        &__link {
            color: $news-grey-dark;
        }
    }
}