.pagination {
    margin-top: rem(35px);
    text-align: center;
    &__link {
        color: $news-blue-dark;
        border: 1px solid $news-blue;
        padding: em(8px) em(10px);

        &--active {
            background-color: $news-blue-dark;
            color: $white;
        }
        &:hover {
            background-color: $news-blue-dark;
            color: $white;
        }
    }
}