/*
|------------------------------------------------------------------|
|                          UTILITIES 							   |
|------------------------------------------------------------------|
*/

// Convert px to rem
// @param $size - size in px
@function rem($size) {
    $rem-size: calc($size / 16px);

    @return $rem-size * 1rem;
}

// Convert px to em
// @param $size - size in px
@function em($size) {
    $em-size: calc($size / 16px);

    @return $em-size * 1em;
}

// Loads font families
@mixin font-face($font-name, $file-name, $font-weight, $font-style) {
    @font-face {
        font-display: swap;
        font-family: "#{$font-name}";
        font-style: $font-style;
        font-weight: $font-weight;
        src:
            url("../fonts/#{$file-name}.ttf")  format("truetype");
    }
}
