<div class="card-top-image">
    <img src="{{ news.features_image.url }}" alt="{{ news.title }}" class="card-top-image__image">
    <div class="card--top-image__contents">
        <h3 class="card-top-image__title">
            <a href="{{ news.get_absolute_url }}">{{ news.title }}</a>
        </h3>
        <a href="{{ news.get_absolute_url }}" class="card-top-image__content">
            {% autoescape off %}
                {{ news.content|truncatewords:20 }}
            {% endautoescape %}
        </a>
        <div class="card-top-image__meta">
            <a href="{{ news.category.get_absolute_url }}" class="card-top-image__meta-category">{{ news.category.name }}</a>
            <span class="card-top-image__meta-date">{{ news.created_at|date:'F j, Y' }}</span>
        </div>
    </div>
</div>